.comic {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 180px;

  .detail {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .title {
      font-weight: 500;
    }
    .year {
      font-size: .75rem;
    }
  }
}