.wrapper {
  display: flex;
  overflow: auto;
  gap: 16px;
  padding-bottom: 22px;
  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: var(--scroll-track-bg);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--marvel-red);
  }
}
