.nav {
  background: var(--navbar-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 48px;
  color: var(--secondary-color);

  @media screen and (max-width: 425px) {
    padding: 15px;

  }
}